<ion-list>
  <ion-item *ngFor="let client of clients;let idx = index">
    <ion-label>{{ client.name }}</ion-label>
    <ion-icon (click)="edit(client.id)" color="secondary" name="pencil-outline" slot="end"></ion-icon>
    <ion-icon (click)="remove(client.id, idx)" color="danger" name="trash-outline" slot="end"></ion-icon>
  </ion-item>
</ion-list>

<ion-fab class="ion-padding-top" horizontal="end" slot="fixed" vertical="bottom">
  <ion-fab-button (click)="register()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
